#tabs
  %ul
    %li
      %a{ :href => '#tabs-1' } Failed
    %li
      %a{ :href => '#tabs-3' } Pending
    %li
      %a{ :href => '#tabs-4' } Unresponsive
    %li
      %a{ :href => '#tabs-5' } Compliant
    %li
      %a{ :href => '#tabs-6' } All

  #tabs-1
    %h3 Failed

  #tabs-3
    %h3 Pending

  #tabs-4
    %h3 Unresponsive

  #tabs-5
    %h3 Compliant

  #tabs-6
    %h3 All

    %table#host-summary
      %thead
        %tr
          %th
          %th Host
          %th Failed
          %th Pending
          %th Successful
      %tbody
        - @host_summaries.each do |h|
          %tr.host{ :class => h[ :status ]}
            %td.status
            %td.host
              = "#{h[ :host ]}.puppetlabs.com"
            %td.failed
              = h[ :failed ]
            %td.pending
              = h[ :pending ]
            %td.compliant
              = h[ :compliant ]
            %td.total
              = h[ :failed ] + h[ :pending ] + h[ :compliant ]
