%table#node-summary
  %tbody
    - @node_summaries.each do |n|
      %tr{ :class => n[ :label ]}
        %td.value
          = n[ :count ]
        %td.label
          = "#{ n[ :label ].titleize }"
          %strong.percent
            %hr{ :style => "width:#{ n[ :percent ].round }%;" }
            %em
              = "#{ n[ :percent ] }%"

    %tr.total
      %th.value
        = @total_nodes
      %th.label
        Total nodes
        %strong.percent
          %hr
          %em 100%
